QtProject.conf
Thunar/
btop/
dconf/
gtk-3.0/bookmarks
pavucontrol.ini
pulse/
pupgui/
user-tmpfiles.d/
vesktop/
xfce4/
nvim/plugin/packer_compiled.lua
weechat/
qBittorrent/
obs-studio/
vifm/
monero*/
libreoffice/
glib*/
krita*/
nomacs/
