QtProject.conf
Thunar/
btop/
dconf/
gtk-3.0/bookmarks
pavucontrol.ini
pulse/
pupgui/
user-tmpfiles.d/
vesktop/
xfce4/
nvim/plugin/packer_compiled.lua
qBittorrent/
obs-studio/
vifm/
monero*/
libreoffice/
glib*/
krita*/
nomacs/
ibus/
GIMP/
chromium/
libaccounts-glib/
keepassxc/
wireshark/
krita*
PureRef/
xdg-desktop-portal/
gtk-3.0/
gtk-4.0/
net.imput.helium/
vlc/
JetBrains/
autostart/
mime*
xdg-desktop-portal/
wal/
mpv/
fontforge/
ghb/

# KDE / Plasma / Qt
KDE/
Trolltech.conf

baloofilerc
bluedevilglobalrc
dolphinrc
filetypesrc

kactivitymanagerd-statsrc
kactivitymanagerdrc

kate/
kate-externaltoolspluginrc
katerc
katevirc

kcminputrc
kconf_updaterc
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc

konsolerc
konsolesshconfig

kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc

kwinoutputconfig.json
kwinrc
kxkbrc

plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc

powermanagementprofilesrc
sddmthemeinstallerrc
session/
spectaclerc
trashrc

# weechat
weechat/sec.conf
weechat/irc.conf
weechat/matrix.conf
weechat/slack.conf
weechat/relay.conf
weechat/wee-slack.conf
weechat/discord.conf
weechat/logs/
weechat/script/
weechat/plugins/
weechat/xfer.conf
weechat/*.conf.bak
weechat/*.conf.old

